*.obj
*.dat
*.exe
/Win32/
/.vscode/
/__history
__history/
/__history/
Project1.cbproj.local
*.~cpp
*.~dfm
*.~pas
*.~fmx
*.bak 
*.dcu  
*.tpu  
debug/
release/
*/debug/
*/release/
*.log
*.tmp
*.tds
*.pdb
__history/Unit1.cpp.~20~
/__history
